@{
    ViewData["Title"] = "Store";
}

<div class="container">
            <h1 class="header center">Oshimen 48 </h1>
    <div class="row center">
        <div class="col col-12">
            <p>以下の場所からアプリをダウンロードすることができます。</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-4"></div>
        <div class="col col-4"></div>
        <div class="col col-4"></div>
    </div>
</div>